# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 60fcdd86dd11147a8cb8f9f318cafa5b28f9a8db7f8da2b8a677c5031537803dd4e43a812bd4f66759478c4e159d0f5522bb4bb2b48abb08c9a3f1eda1e7e97c

test:
  secret_key_base: 53b8c2a08b480db660aaf76cbbba45a59b33ed5311f88dcef1311fee6a58066049d6cd6ffa7f9dadce9b70a5f447db1c56b4886cd50ccc3b96bf0333d46dd056

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
